<h1> Add a New Creature</h1>

<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">
    <label for="imgUrlLink">Image Link</label>
    <input type="text" name="name" id="imgUrlLink">
    <input type="submit">
</form>